@using DalWebshop.Models
@{

    Gebruiker AuthUser = (Gebruiker)Session["AuthGebruiker"];
    ViewBag.AuthGebruiker = Session["AuthGebruiker"];

}<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webshop (KillerApp)</title>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/font-awesome-4.7.0/css/font-awesome.css")
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
</head>
<body>
    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Webshop</li>
                <li><a href="/">Home</a></li>
                <li><a href="/Products">Products</a></li>
                @if (AuthUser != null)
                {

                    <li>
                        <a>Account</a>
                        <ul class="menu">
                            <li><a href="/Account/Settings">Settings</a></li>
                            <li><a href="/Account/Orders">Orders</a></li>
                        </ul>
                    </li>
                }

                @if (AuthUser != null && AuthUser.IsAdmin)
            {
                    <li>
                        <a>Manage</a>
                        <ul class="menu">
                            <li><a href="/Manage/Users">Users</a></li>
                            <li><a href="/Manage/Orders">Orders</a></li>
                            <li><a href="/Manage/Suppliers">Suppliers</a></li>
                            <li><a href="/Manage/Discounts">Discounts</a></li>
                            <li><a href="/Manage/Discountcoupons">DiscountCoupons</a></li>
                            <li><a href="/Manage/Products">Products</a></li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">

                @if (AuthUser == null)
            {
                    <li><a href="/Shoppingcart">Shoppingcart</a></li>
                    <li><a href="/Login">Login</a></li>
                    <li><a href="/Register">Create Account</a></li>
                }
                else
                {
                    <li><a href="/Logout">Logout</a></li>
                }
            </ul>
        </div>
    </div>
    @RenderBody()

    <div class="callout large secondary">
        <div class="row">
            <div class="large-4 columns">
                <h5>Vivamus Hendrerit Arcu Sed Erat Molestie</h5>
                <p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit.</p>
            </div>
            <div class="large-3 large-offset-2 columns">
                <ul class="menu vertical">
                    <li><a href="#">One</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                    <li><a href="#">Four</a></li>
                </ul>
            </div>
            <div class="large-3 columns">
                <ul class="menu vertical">
                    <li><a href="#">One</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                    <li><a href="#">Four</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Scripts/Site.js"></script>
</body>
</html>