@using DalWebshop.Models
@{
    ViewBag.Title = "Home Page";
    List<Product> products = ViewBag.Products;
}

<div id="imgSlider" class="orbit">
    <img class="mySlides" src="/Content/SliderImages/4.jpg" style="width:100%">
    <img class="mySlides" src="/Content/SliderImages/2.jpg" style="width:100%">
    <img class="mySlides" src="/Content/SliderImages/3.jpg" style="width:100%">
    <img class="mySlides" src="/Content/SliderImages/1.png" style="width:100%">
</div>
<div class="row column text-center">
    <h2>Our Newest Products</h2>
    <hr>
</div>
<div class="row small-up-2 large-up-4">

    @foreach (Product p in products)
    {

        <div class="column">

            @if (p.MainImage() != null)
            {
                Afbeelding a = p.MainImage();
                <img class="thumbnail center" src="@a.Path/@a.Naam" style="height: 250px; width: 100%;">
            }
            else
            {
                <img class="thumbnail" src="http://placehold.it/300x400">
            }
            <h5>@p.Titel</h5>
            <p>@p.Prijs</p>
            <a href="/Product/@p.Id" class="button expanded success">Info</a>
            <a href="/Shoppingcart/Add/@p.Id" class="button expanded">Add to cart</a>
        </div>

    }
</div>

<hr>